doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/reset.css")
        link(rel="stylesheet", href="../css/base.css")
        block css
        link(rel="stylesheet", href="../css/respon.css")
        title Document
    body 
        block modal 
        .container
            header.inner
                h1 
                    a(href="/") Anointing HwaYang
                ul.nav
                    li 
                        a(href="apply") 예배신청
                    li 
                        a(href="/result") 신청결과
                    li 
                        a(href="/admin") 관리자
                .trigger 
                    span 
                    span 
                    span 
            block content

    script(src='../js/splitting.min.js')
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
    script(src='../js/index.js')