extends base.pug
block css 
    link(rel="stylesheet", href="../css/home.css")
block content 
    main.inner 
        .box
            .en(data-splitting) Anointing HwaYang
            .kr(data-splitting) 성탄 축하 감사예배
            .kr.two(data-splitting) 신청 시간 : 12월 23일 PM 10:00시
    section.inner
        p 
            a(href="/apply") 예배 신청하러 가기
                





    