body {
    overflow: hidden;
}
main{
    border: 1px solid #fff;
    background: url(../img/2_3.jpg);
    background-size: cover;
    background-size: 100%;
    width: 100%;
    height: 650px;
    position: relative;
    background-color: #15400e;
}

main::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
form {
    animation: fade-in 1s;
    animation-delay: 1s;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    z-index: 5;
    width: 0%;
    height: 410px;
    border-radius: 1rem;
    animation-fill-mode: forwards; /* 종료 후 위치 */
}
form .type{
    box-sizing: border-box;
    padding: 1.2rem 1rem;
    width: 90%;
    display: block;
    border: 1px lightgray solid;
    border-radius: 0.5rem;
    margin: 1rem auto;
    font-weight: bold;
}
form .type:nth-child(1){
    margin-top: 1rem;
}
form select .type {
    width: 100%;
}
form .type.btn {
    cursor: pointer;
    border: none;
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
    background-color: #940f0f;
    color: #fff;
    width: 60%;
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 1rem;
}
.en{ 
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
}
.apply {
    font-family: 'Bebas Neue', cursive;
    transition: all;
    width: 70%;
    height: 5rem;
    text-align: center;
    color: #fff;
    position: absolute;
    font-size: 4.2rem;
    font-weight: bold;
    line-height: 4.5rem;
    letter-spacing: 5px;
    margin-top: 3rem;
    left: 50%;
    transform: translate(-50%);
}
/* .apply.en .box{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1.5rem;
    width: 0%;
    height: 2px;
    background-color: #fff;
    animation: max 1s 3s forwards;
    transition: all 0.3s;
} */

.splitting .char {
    animation: slide-up 2s cubic-bezier(.5, 0, .5, 1) both;
    animation-delay: calc(60ms * var(--char-index));
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
}
.white-bg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 95vh;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 2.5rem;
}
.box{
    border: 1px solid blue
}
.white-bg p:nth-child(1){ 
    margin-top: 45vh;
}

@keyframes fade-in {
    form {
        width: 0%;
        opacity: 0;
    }
    to {
        width: 50%;
        opacity: 1;
    }
}

@keyframes slide-up{
	0%{transform: translateY(30px); opacity: 0;}
	80%{transform: translateY(30px); opacity: 0;}
}

@keyframes max{
    0%{width: 0%; }
    100%{width: 60%; opacity: 1;}
}