@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

body{
    font-family: 'Noto Sans KR', sans-serif;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
}
.inner {
    max-width: 1000px;
    margin: auto;
}
header{
    box-sizing: border-box;
    height: 10px;
    background-color: #fff;
    padding: 2rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 3px;
}
.nav {
    display: flex;
}
.nav li {
    padding: 0 1rem;
    
    
}
.nav li a{ 
    font-size: 1.1rem;
    transition: all 0.3s;
    position: relative;
}
.nav li a:hover{
    color: #666;
}
.nav li a:after{  
    content: '';
    position: absolute;
    width: 0%;
    left: 0;
    bottom:  -5px;
    height: 2px;
    background-color: #f8b922;;
    transition: all 0.3s;

}

.nav li a:hover:after{
    width: 100%;
}

.trigger{
    display: none;
    position: relative;
    width: 2rem;
    height: 1.5rem;
    cursor: pointer;
}



.modal{
    transition: all 3s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
}
.white-bg{
    transition: all 0.3s;
    background: url(../img/3.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 95vh;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 2.5rem;
}
.white-bg .box{
    background-color: #940f0f;
    border-radius: 3rem;
    width: 65%;
    margin: 10vh auto;
    padding: 2rem 3rem;
}
.white-bg .box p{
    font-size: 2.5rem;
    line-height: 3.4rem;
    font-weight: bold;
    color: #fff;
    letter-spacing: 5px;
}

.modal-trigger {
    position: absolute;    
    top: 2rem;
    right: 1rem;
    transition: all 0.3s;
    width: 3rem;
    height: 1.7rem;
    z-index: 100;
    cursor: pointer;
}
.modal-trigger span{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
}
.modal-trigger span:nth-child(1){
    top: 50%;
    transform: rotate(45deg);
}

.modal-trigger span:nth-child(2){
    top: 50%;
    transform: rotate(-45deg);
}